.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

.circle {
  border-radius: 50%;
}
// FLEX

a {
  text-decoration: unset;
}

.flexgrow {
  display: flex;
  flex-direction: column;

  .grow {
    flex-grow: 1;
  }
}

.flexC {
  display: flex;
  justify-content: center;
}

.inflex {
  display: inline-flex;
}

.flex {
  display: flex;
}

.mLeftAuto {
  margin-left: auto;
}
.flexAl {
  display: flex;
  align-items: center;
}
.flexBtw {
  display: flex;
  justify-content: space-between;
}

.rflexBtw {
  display: grid;
  grid-row-gap: 1em;

  @media (min-width: 700px) {
    display: flex;
    justify-content: space-between;
  }
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
}

.alignEnd {
  display: flex;
  align-items: flex-end;
}

.fullFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.doubleflex {
  display: flex;

  > div:nth-child(1) {
    margin-right: 1em;
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

// MARGIN TOP
.smallwm {
  margin: 1em;
}

.section {
  margin-top: 2em;
}
.sectM {
  margin-top: 2.5em;
}
.smallM {
  margin-top: 0.5em;
}

.tinyM {
  margin-top: 0.3em;
}

.middleM {
  margin-top: 1.5em;
}

.nestM {
  margin-top: 1em;
}

.cursor {
  cursor: pointer;
}

.smallPad {
  padding: 0.5em;
}

.padBlock {
  padding-block: 1em;
}

.padInline {
  padding-left: 1em;
  padding-right: 1em;
}

.padInMid {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.paddBoth {
  padding: 1em;
}

.sectPad {
  padding: 2em;
}

.sectPadd {
  padding: 2.5em;
}

.fullInnerDiv {
  > div {
    height: 100%;
    > div {
      height: 100%;
    }
  }
}

.fullH {
  height: 100%;
}

.noOutline {
  outline: none;
}

.paddBlock {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.padsmallTop {
  padding: 0.5em 1em;

  @media(min-width: 700px){
    padding: 0.7em 1.5em;
  }
}

.padLong {
  padding: 0.8em 1.5em;

  @media (min-width: 500px) {
    padding: 0.8em 2em;
  }
  @media (min-width: 700px) {
    padding: 0.8em 2.5em;
  }
  @media (min-width: 900px) {
    padding: 0.8em 3.5em;
  }
}

.noborder {
  border: none;
}
.padBlock2 {
  padding-block: 2em;
}

.wytBg {
  background: white;
}
// GRIDS

.grid2 {
  display: grid;
  grid-row-gap: 1.5em;

  @media (min-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.5em;
  }
  > div {
    font-size: 16px;
  }
}

.rGrid3 {
  display: grid;
  @media (min-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid2.padd {
  grid-column-gap: 2.5em;
}

.grid3 {
  display: grid;
  grid-row-gap: 1.5em;

  @media (min-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.5em;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.5em;
  }
  > div {
    font-size: 16px;
  }

  .ui.input {
    width: 100%;
  }
}

.mobileCenter {
  @media (max-width: 500px) {
    text-align: center;
  }
}

.grid4 {
  display: grid;
  grid-row-gap: 1.5em;

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 800px) {
    display: flex;
    justify-content: space-between;
  }

  > div {
    font-size: 16px;
  }

  .ui.input {
    width: 100%;
  }
}

.overflow {
  display: grid;
  @media (max-width: 800px) {
    overflow-x: scroll;
  }
}

.wyt {
  color: #fff;
}

.relative {
  position: relative;
}

// DASHBOARD

.dashboard {
  min-height: 100vh;
  background: #e1f6f6;
  // opacity: 100%;
  .radius {
    border-radius: 10px;
  }

  nav {
    position: unset !important;
    width: unset !important;
  }

  .sidedash {
    position: absolute;
    top: 0;
    left: -500px;
  }

  .dashmain {
    @media(max-width:400px){
      max-width: 95%;
      margin: auto;
    }
    @media(max-width:900px){
      max-width: 90%;
      margin: auto;
    }

    .grow {
      min-height: 500px;
    }
  }

  @media (min-width: 900px) {
    padding: 1.5em 1.5em 1.5em 0px;

    .sidedash {
      position: fixed;
      width: 20%;
      left: 0;
      padding-bottom: 1.5em;
      padding-top: 1.5em;
    }

    .dashmain {
      position: relative;
      left: 24%;
      width: 76%;
    }
  }

  @media (min-width: 1100px) {
    .sidedash {
      width: 18%;
    }

    .dashmain {
      position: relative;
      left: 22%;
      width: 78%;
    }
  }

  // .trans{
  //     >div{
  //         padding:2.4em 1.2em;
  //         border-radius: 10px;

  //         >div:nth-child(1){
  //             max-width: 170px;
  //             line-height: 22px;
  //             display: flex;
  //             align-items: center;
  //         }
  //     }

  //     >div:nth-child(1){
  //         background:#08B1AE;
  //     }
  //     >div:nth-child(2){
  //         background:#0A8ADF;
  //     }
  //     >div:nth-child(3){
  //         background:#052938;

  //         >div:nth-child(2){
  //             color: #07C219;
  //         }
  //     }

  // }

  .dashicons {
    > div {
      margin-top: 1.5em;
      a {
        min-width: 126px;
        display: inline-flex;
        padding-top: 0.7em;
        padding-bottom: 0.7em;
        border-bottom: 3px solid transparent;
        color: #052938;
        min-height: 60px;
        box-sizing: border-box;
        width: 100%;
        padding-left: 1em;
        padding-right: 1em;
        > div {
          display: flex;
          align-items: center;
          margin-left: 1em;
        }

        img {
          max-width: 20px;
        }
        img.act {
          display: unset;
        }
        img.df {
          display: none;
        }
      }
      > a:hover {
        background: #052938;
        color: #fff;
        border-top-right-radius: 32px;
        border-bottom-right-radius: 32px;

        img.act {
          display: none;
        }

        img.df {
          display: unset;
        }
      }
      > a.active {
        background: #052938;
        color: #fff;
        border-top-right-radius: 32px;
        border-bottom-right-radius: 32px;
        img.act {
          display: none;
        }

        img.df {
          display: unset;
        }
      }
    }

    > div:nth-child(1) {
      margin-top: 0;
    }
  }
}

// NOTIFICATION

.ntfmsg {
  max-width: 90%;
  margin: auto;
  margin-top: 1em;
  @media (min-width: 600px) {
    max-width: 80%;
  }
}

// POPUP

.popup {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 10;
  background: white;
  border-radius: 25px 25px 0px 0px;
  img {
    max-height: 50px;
  }
  > div:nth-child(1) {
    box-shadow: 0px 0px 10px #08b1ae3b;
    opacity: 1;
  }
}

//  DROPf

.name {
  position: relative;
  font-size: 14px;
  .drop,
  .dropdown {
    z-index: 300;
    position: absolute;
    top: 120%;
    min-width: 230px;
    width: auto;
    max-width: 240px;
    margin-left: -30px;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    transition: opacity 0.2s linear, visibility 0.2s linear;
    // padding:1em;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.06),
      0px 4px 16px rgba(0, 0, 0, 0.09);
    border-radius: 8px;
    a {
      font-size: 13px;
      display: flex;
      border-bottom: 0.5px solid #ccc3c3;
      img {
        margin-right: 0.9em;
      }
      color: #333333;
    }
  }
  .dropdown {
    top: 170%;
    min-width: 125px;
    margin-left: unset;
    > div {
      padding: 0px;
    }
    a {
      border-bottom: unset;
      padding-left: 0.3em 1px;
    }
  }
  .drop:nth-child(2) {
    img {
      width: 19px;
      height: 19px;
    }
  }
  .last {
    border-bottom: none !important;
  }
}
.name:hover {
  .drop,
  .dropdown {
    opacity: 1;
    visibility: visible;
  }
}

.nodisplay {
  display: none;
}


// TYPESCRIPT COPY ENDS HERE- 7-12-2021